body {
    background-color: #fea26c;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}
p, h3:nth-of-type(1) {
    font-family: 'Ysabeau Infant', sans-serif;
}
strong {
    color: darkgreen;
}
.name {
    text-align: center;
}
.photo-info div {
    display: inline-block;
}